<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7649846363-7nq2d5pkll9f6b6gaif1h0fvd3tmuod0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7649846363-7nq2d5pkll9f6b6gaif1h0fvd3tmuod0</string>
	<key>API_KEY</key>
	<string>AIzaSyCwtw9cOuR1kphz1g_aPdM9I9Up4BksRY4</string>
	<key>GCM_SENDER_ID</key>
	<string>7649846363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tg.tmye.kaba.brave.one</string>
	<key>PROJECT_ID</key>
	<string>kaba-tmye-2018</string>
	<key>STORAGE_BUCKET</key>
	<string>kaba-tmye-2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7649846363:ios:b373c40a5e83fd12664b7e</string>
	<key>DATABASE_URL</key>
	<string>https://kaba-tmye-2018.firebaseio.com</string>
</dict>
</plist>