<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>tg.tmye.kaba.brave.one</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KABA</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>AppleMusic permission is needed to play a sound for several actions in the app.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is used to make sure you have the best experience</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is used to make sure you have the best experience</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendars permission is needed for the user to schedule eating time notifications if needed.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera permission is needed for the user to shoot his profile picture if needed.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contact permission is needed for the user to contact the customer care if needed.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need Current Location Access in Usage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need Current Location Access</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Get current location for more accurate delivery</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone permission is need so that the user could shoot a video right in case.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs your Phones motion manager to update when the phone is titled. Please allow this App to use your phones tilt devices</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library permission is need so that the user could pick his profile picture from the gallery.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech data from this app will be sent to Apple to process your requests.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
